src/FunzioniServizioBundle/Service/SapWsdl/Dev/Z_WS_IMPEGNI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Z_WS_IMPEGNI" targetNamespace="http://emilia-romagna.it/contabilita/interfacce/ext"
                  xmlns:rfc="urn:sap-com:document:sap:rfc:functions"
                  xmlns:p1="http://emilia-romagna.it/contabilita/interfacce/ext"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="false"/>
    <wsp:Policy wsu:Id="OP_Z_WS_TOTALIZZATORI_IMPEGNO"/>
    <wsp:Policy wsu:Id="OP_Z_WS_FATTURE_DA_IMPEGNO"/>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:rfc:functions">
            <xsd:element name="Z_WS_TOTALIZZATORI_IMPEGNO">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="I_BUKRS">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="4"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="I_IMPEGNO">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Z_WS_FATTURE_DA_IMPEGNO">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="I_BUKRS">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="4"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="I_IMPEGNO">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="I_POSIZIONE" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="3"/>
                                    <xsd:pattern value="\d+"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Z_WS_TOTALIZZATORI_IMPEGNO.Response">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="E_DESCRIZIONE_RC" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="E_OUTPUT" type="ZWS_DATI_IMPEGNO" minOccurs="0"/>
                        <xsd:element name="E_RC" type="xsd:integer" minOccurs="0"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Z_WS_FATTURE_DA_IMPEGNO.Response">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="E_DESCRIZIONE_RC" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="E_FATTURE" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZWS_DATI_FATTURE" minOccurs="0"
                                                 maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="E_MANDATI" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="item" type="ZWS_DATI_MANDATI" minOccurs="0"
                                                 maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="E_RC" type="xsd:integer" minOccurs="0"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="date">
                <xsd:union memberTypes="xsd:date genericDate" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                           xmlns="urn:sap-com:document:sap:rfc:functions"/>
            </xsd:simpleType>
            <xsd:simpleType name="genericDate">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="....-..-.."/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ZWS_DATI_MANDATI">
                <xsd:sequence>
                    <xsd:element name="NUMERO_FATTURA" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NUMERO_MANDATO" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DATA_MANDATO" type="date" minOccurs="0"/>
                    <xsd:element name="IMPORTO_MANDATO" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZWS_DATI_IMPEGNO">
                <xsd:sequence>
                    <xsd:element name="CAPITOLO" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="24"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OGGETTO" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMP_INIZIALE" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMP_VARIAZIONI" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMP_ATTUALE" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMP_PARTITE" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMP_ORDINI" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMP_PAGAMENTI" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMP_RESIDUO" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZWS_DATI_FATTURE">
                <xsd:sequence>
                    <xsd:element name="NUMERO_FATTURA" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="NUMERO_SDI" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DATA_FATTURA" type="date" minOccurs="0"/>
                    <xsd:element name="DATA_ARRIVO" type="date" minOccurs="0"/>
                    <xsd:element name="OGGETTO" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CF" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PIVA" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="11"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RAGIONE_SOCIALE" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="140"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMPORTO_LORDO" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RITENUTE" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IMPONIBILE_IVA" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IVA" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="rfc.Z_WS_TOTALIZZATORI_IMPEGNO.Input">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="rfc:Z_WS_TOTALIZZATORI_IMPEGNO"/>
    </wsdl:message>
    <wsdl:message name="rfc.Z_WS_TOTALIZZATORI_IMPEGNO.Output">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="rfc:Z_WS_TOTALIZZATORI_IMPEGNO.Response"/>
    </wsdl:message>
    <wsdl:message name="rfc.Z_WS_FATTURE_DA_IMPEGNO.Input">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="rfc:Z_WS_FATTURE_DA_IMPEGNO"/>
    </wsdl:message>
    <wsdl:message name="rfc.Z_WS_FATTURE_DA_IMPEGNO.Output">
        <wsdl:documentation/>
        <wsdl:part name="parameters" element="rfc:Z_WS_FATTURE_DA_IMPEGNO.Response"/>
    </wsdl:message>
    <wsdl:portType name="Z_WS_IMPEGNI">
        <wsdl:documentation/>
        <wsdl:operation name="Z_WS_TOTALIZZATORI_IMPEGNO">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_Z_WS_TOTALIZZATORI_IMPEGNO"/>
            </wsp:Policy>
            <wsdl:input message="p1:rfc.Z_WS_TOTALIZZATORI_IMPEGNO.Input"/>
            <wsdl:output message="p1:rfc.Z_WS_TOTALIZZATORI_IMPEGNO.Output"/>
        </wsdl:operation>
        <wsdl:operation name="Z_WS_FATTURE_DA_IMPEGNO">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_Z_WS_FATTURE_DA_IMPEGNO"/>
            </wsp:Policy>
            <wsdl:input message="p1:rfc.Z_WS_FATTURE_DA_IMPEGNO.Input"/>
            <wsdl:output message="p1:rfc.Z_WS_FATTURE_DA_IMPEGNO.Output"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_WS_IMPEGNIBinding" type="p1:Z_WS_IMPEGNI">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="Z_WS_TOTALIZZATORI_IMPEGNO">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Z_WS_FATTURE_DA_IMPEGNO">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_WS_IMPEGNIService">
        <wsdl:port name="HTTP_Port" binding="p1:Z_WS_IMPEGNIBinding">
            <soap:address
                    location="https://test-piws.regione.emilia-romagna.it:443/XISOAPAdapter/MessageServlet?senderParty=RER&amp;senderService=Sfinge&amp;receiverParty=&amp;receiverService=&amp;interface=Z_WS_IMPEGNI&amp;interfaceNamespace=http%3A%2F%2Femilia-romagna.it%2Fcontabilita%2Finterfacce%2Fext"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>