src/ProtocollazioneBundle/Resources/schemi/WSDL/DocerAuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://authentication.core.docer.kdm.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://keyvalue.collections.commons.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://authentication.core.docer.kdm.it">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://keyvalue.collections.commons.apache.org/xsd">
            <xs:complexType name="AbstractKeyValue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DefaultKeyValue">
                <xs:complexContent>
                    <xs:extension base="ax21:AbstractKeyValue">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://keyvalue.collections.commons.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://authentication.core.docer.kdm.it">
            <xs:import namespace="http://keyvalue.collections.commons.apache.org/xsd"/>
            <xs:element name="AuthenticationServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AuthenticationServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="logout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="codiceEnte" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyTokenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:DefaultKeyValue"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="logoutRequest">
        <wsdl:part name="parameters" element="ns:logout"/>
    </wsdl:message>
    <wsdl:message name="logoutResponse">
        <wsdl:part name="parameters" element="ns:logoutResponse"/>
    </wsdl:message>
    <wsdl:message name="AuthenticationServiceException">
        <wsdl:part name="parameters" element="ns:AuthenticationServiceException"/>
    </wsdl:message>
    <wsdl:message name="verifyTokenRequest">
        <wsdl:part name="parameters" element="ns:verifyToken"/>
    </wsdl:message>
    <wsdl:message name="verifyTokenResponse">
        <wsdl:part name="parameters" element="ns:verifyTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="loginRequest">
        <wsdl:part name="parameters" element="ns:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="ns:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserInfoRequest">
        <wsdl:part name="parameters" element="ns:getUserInfo"/>
    </wsdl:message>
    <wsdl:message name="getUserInfoResponse">
        <wsdl:part name="parameters" element="ns:getUserInfoResponse"/>
    </wsdl:message>
    <wsdl:portType name="AuthenticationServicePortType">
        <wsdl:operation name="logout">
            <wsdl:input message="ns:logoutRequest" wsaw:Action="urn:logout"/>
            <wsdl:output message="ns:logoutResponse" wsaw:Action="urn:logoutResponse"/>
            <wsdl:fault message="ns:AuthenticationServiceException" name="AuthenticationServiceException" wsaw:Action="urn:logoutAuthenticationServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="verifyToken">
            <wsdl:input message="ns:verifyTokenRequest" wsaw:Action="urn:verifyToken"/>
            <wsdl:output message="ns:verifyTokenResponse" wsaw:Action="urn:verifyTokenResponse"/>
            <wsdl:fault message="ns:AuthenticationServiceException" name="AuthenticationServiceException" wsaw:Action="urn:verifyTokenAuthenticationServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="ns:loginRequest" wsaw:Action="urn:login"/>
            <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
            <wsdl:fault message="ns:AuthenticationServiceException" name="AuthenticationServiceException" wsaw:Action="urn:loginAuthenticationServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <wsdl:input message="ns:getUserInfoRequest" wsaw:Action="urn:getUserInfo"/>
            <wsdl:output message="ns:getUserInfoResponse" wsaw:Action="urn:getUserInfoResponse"/>
            <wsdl:fault message="ns:AuthenticationServiceException" name="AuthenticationServiceException" wsaw:Action="urn:getUserInfoAuthenticationServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthenticationServiceSoap11Binding" type="ns:AuthenticationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="logout">
            <soap:operation soapAction="urn:logout" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyToken">
            <soap:operation soapAction="urn:verifyToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <soap:operation soapAction="urn:getUserInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthenticationServiceSoap12Binding" type="ns:AuthenticationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="logout">
            <soap12:operation soapAction="urn:logout" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap12:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyToken">
            <soap12:operation soapAction="urn:verifyToken" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap12:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap12:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap12:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <soap12:operation soapAction="urn:getUserInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationServiceException">
                <soap12:fault use="literal" name="AuthenticationServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthenticationServiceHttpBinding" type="ns:AuthenticationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="logout">
            <http:operation location="logout"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyToken">
            <http:operation location="verifyToken"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <http:operation location="login"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <http:operation location="getUserInfo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthenticationService">
        <wsdl:port name="AuthenticationServiceHttpSoap11Endpoint" binding="ns:AuthenticationServiceSoap11Binding">
            <soap:address location="http://docer-test.ente.regione.emr.it:9474/docersystem/services/AuthenticationService.AuthenticationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthenticationServiceHttpsSoap11Endpoint" binding="ns:AuthenticationServiceSoap11Binding">
            <soap:address location="https://docer-test.ente.regione.emr.it:9444/docersystem/services/AuthenticationService.AuthenticationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthenticationServiceHttpSoap12Endpoint" binding="ns:AuthenticationServiceSoap12Binding">
            <soap12:address location="http://docer-test.ente.regione.emr.it:9474/docersystem/services/AuthenticationService.AuthenticationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthenticationServiceHttpsSoap12Endpoint" binding="ns:AuthenticationServiceSoap12Binding">
            <soap12:address location="https://docer-test.ente.regione.emr.it:9444/docersystem/services/AuthenticationService.AuthenticationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthenticationServiceHttpEndpoint" binding="ns:AuthenticationServiceHttpBinding">
            <http:address location="http://docer-test.ente.regione.emr.it:9474/docersystem/services/AuthenticationService.AuthenticationServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthenticationServiceHttpsEndpoint" binding="ns:AuthenticationServiceHttpBinding">
            <http:address location="https://docer-test.ente.regione.emr.it:9444/docersystem/services/AuthenticationService.AuthenticationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
